@model Store

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary"> @(Model.Id != 0 ? "編輯" : "新增")分店</h2>
                    <hr />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Name" class="p-0"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="PhoneNumber" class="p-0"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Address" class="p-0"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="City" class="p-0"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Description" class="p-0"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        @if (Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">編輯</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">新增</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Store" asp-action="Index" class="btn btn-secondary border form-control">
                            返回
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}